# Runtime
NODE_ENV=development
API_PORT=4000
WEB_PORT=3000
WEB_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000/graphql

# PostgreSQL / Prisma
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/anime_platform?schema=public
